body{
    width: 100%;
    height: auto;
    padding: 5px;
}
header{
    width: 97%;
}
/* The navbar container */
.topnav {
    overflow: hidden;
    background: white;
    /*background-color: #333;*/
    height:3rem;
}
/* Navbar links */
.topnav a {
    float: right;
    display: block;
    color: #333333;
    /*color: #f2f2f2;*/
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
    font-size: 1rem;
}
#Logo{
    position: relative;
    width: auto;
    height: 90%;
}
/* Links - change color on hover */
.topnav a:hover {
    color:white;
    background-color: #333333;
    /*background-color: #ddd;
    color: black;*/
}
#CoverImg{
   width: 100%;
    height: 250px;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#CoverText{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    margin-bottom:0px;
    font-size: 4em;
}
.Column{
    margin-top:5%;
    display: flex;
    alignment: center;
    text-align: left;
}
.Side{
    width: 30%;
    margin: 3%;
    padding: 5px;
}
.Middle{
    width:50%;
    margin: 3%;
    padding: 10px;
}
h2 {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
}
.Column p {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
}
.Middle p{
    font-family: 'Libre Baskerville', serif;
}
#MiddleIMG{
    width: 40%;
    height: auto;
    margin: 1%;
}
.Footer {
    width:97%;
    background-color: #F1F1F1;
    text-align: left;
    margin: auto;
}
.Footer a, p{
    text-decoration: none;
    color: #333333;
}
.Footer a:hover{
    background-color: #333333;
    color: white;
}
button{
    width: 35px;
    height: 30px;
    border-radius: 5px;
}
.FooterLogo img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.FooterLogo{
    text-align:right;
    margin-right: 15px;
}
@media screen and (max-width:480px){
    #CoverImg{
        width: 100%;
        height:200px;
        position: absolute;
        padding: 0;
        margin: 0;
        left: 0px;
        top: 0px;
        z-index: -1;}
    #CoverText{
        font-size:2rem;
        margin: 10px;
}
    h2{
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }
}
